# If you want to use a Docker development environment, create a copy of this file
# named docker.env and update the settings as described in the comments below.

# If you are not running Docker locally on Linux, change the IP address in the following two lines
# to the IP address of the Docker host (e.g. the result of `boot2docker ip` or `docker-machine ip`)
SERVICE_URL=https://127.0.0.1:5067
API_ROOT=https://127.0.0.1:5067/ss
DEBUG=1
SECRET_KEY=This is not a very secret secret
CONTACT_EMAIL=Change to your email_address
# Set the following two lines to the credentials for a project you have set up in the Google Developer Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

